/*
    Tips:
    • Use CSS to present the different types of tiles on the map (Ex. .player .wall).
*/
* {
    box-sizing: border-box;
}


#map {
    border: 10px solid black;
    background: blueviolet;
    justify-content: center;
    width: 700px;
    height: 500px;
    display: grid;                          /* Skapar ett rutnät*/      /*Önskar att jag visste om detta sätt att skriva grid tidigare*/
    flex-grow: 1;                           /* Öka en ruta i taget*/
    grid-template-columns: repeat(19, 1fr); /* Skapa 16 ckolumner*/
    grid-template-rows: repeat(16, 1fr);    /* Skapa 19 rader*/
}

div.tile-wall {
    background: rgb(43, 5, 212);
}

div.tile-goal {
    background: lightgreen;
}

div.entity-player{
    color: yellow;
}